.skill{
    color:#fff;
    padding:5px 10px;
    border-radius: 15px;
}

.skill_green{
    background-color: #04DA00;
}

.skill_yellow{
    background-color: #D5DA00;
}

.skill_red{
    background-color: #DA0D00;
}