.group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer{
    background-color: #F1F5F9;
    width: 100%;
    display:flex;
    border-radius: 4px;
    padding:14px;
    flex-direction: column;
    gap:10px;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
}

.header_offer{
    display:flex;
    justify-content:space-between;
    font-weight: bold;
    font-size:12px;
}

.content_offer{
    display: flex;
    gap:20px;
}

.content_offer img{
    border-radius: 6px;
}


.evaluate_offer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
}

.evaluate_offer h2{
    font-size: 20px;
    font-weight: 500;
}

.evaluate_offer button{
    background-color: #3B82F6;
    color:white;
    padding: 7px 0;
    font-size: 16px;
    border:none;
    cursor: pointer;
    border-radius:5px;
}

.evaluate_offer button:disabled{
    background-color: #163f83;
    cursor:not-allowed;
}

.skills_offer{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.skills_offer ul{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
}

.skills_offer h3{
    font-size:16px;
    font-weight: normal;
}

.evaluation{
    padding:15px 30px;
    width:80%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color:white;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}

.evaluation.green{
    background-color: #22C55E;
}

.evaluation.yellow{
    background-color: #FB923C;
}

.evaluation.red{
    background-color: #EF4444;
}

.evaluation a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.evaluation_text{
    display: flex;
    align-items: center;
    gap:25px;
}

.evaluation_text span{
    font-size: 36px;
    font-weight: bold;
}

@media screen and (max-width:728px) {
    .evaluation_text{
        flex-direction: column;
    }
}